@import "vars";

* { 
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 0px;
}
header {
    position: fixed;
    background-color: var(--juoda);
    height: 72px;
    max-width: 1400px;
    width: 100%;
    z-index: 9999;}
ul {  
        text-align: right;
        margin-top: 26px;
        margin-right: 148px;
        margin-left: 250px;
     a {
        color: var(--balta);
        text-decoration: none;
        padding: 21px;
        
        }
}
.smalllogo {
        background: url(images/smalllogo.png);
        width: 119.37px;
        height: 52.06px;
        z-index: 99999;
        margin-left: 147px;
        margin-top: 10px;
        padding-right: 10px;
        position: absolute;
}

.miestas {
    background: url(images/miestas.png);
    height: 639px;
    max-width: 1400px;
    width: 100%;
         .shade {
            background: url(images/shade.png);
            height: 639px;
            max-width: 1400px;
            width: 100%;}
        }
.maintext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 268px;
    position: absolute;
    font-size: 36px;
    color: var(--balta);
    margin-left: 147px;
}
.whiteline {
    border: solid 2px white;
    width: 65px;
    margin-top: 376px;
    position: absolute;
    margin-left: 150px;

}
.logo {
    background: url(images/whitelogo.png);
    width: 246.74px;
    height: 107.61px;
    position: absolute;
    margin-top: 138px;
    margin-left: 150px;
}
.maintext2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: flex;
    margin-top: 422px;
    position: absolute;
    font-size: 16px;
    color: var(--balta);
    margin-left: 150px;}
.downloadbutton {
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin-top: 530px;
    position: absolute;
    font-size: 14px;
    color: var(--balta);
    margin-left: 150px;
    border: solid 2px white;
    width: 135px;
    height: 42px;
}
a {
        text-align: center;
        text-decoration: none;
        padding-left: 25px;
        color: white;}
.subbox {
    position: absolute;
    left: 892px;
    display: block;
    box-sizing: border-box;
}
.top {
    padding-top: 17px;
    text-align: center;
    margin-top: 147px;
    min-width: 360px;
    position: absolute;
    height: 57px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
span {
    color: orange;
    }
}  
.mid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 204px;
    width: 360px;
    height: 311px;
    font-size: 9px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #00000029;
    opacity: 1;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--balta);
    margin-top: 515px;
    width: 360px;
    position: absolute;
    height: 57px;
    background: #41D395 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
}

    

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 105px;
    width: 100%;
    max-width: 1400px;
    background-color: var(--balta);
    p {
    color: var(--juoda);
    margin-left: 158px;
    span {
    color: grey;}
    }
}
.facebook {
    background: url(images/facebook.png);
    width: 16.22px;
    height: 30px;
}
.instagram {
    background: url(images/instagram.png);
    width: 30px;
    height: 30px;
}
.twitter {
    background: url(images/twitter.png);
    width: 36.07px;
    height: 30px;
}
.pinterest {
    background: url(images/pinterest.png);
    width: 24.37px;
    height: 30px;
}
.group {
    background: url(images/group.png);
    width: 30px;
    height: 30px;
    margin-right: 165px;
}
.sectionbackground {
    background: url(images/mountain.png);
    height: 595px;
    max-width: 1400px;
    width: 100%;
.mountain {
        background: url(images/featurespanel.png);
        height: 595px;
        max-width: 1400px;
        width: 100%;
    }
}
.smallblock {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 870px;
    left: 151px;
    box-shadow: 0px 3px 6px #00000029;
    p {
        transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: left;
        margin: 18px 18.36px 18.36px 18px;
        color: var(--balta);
    }
}
.register {
    width: 100px;
    height: 100px;
    background-color: #A37169;
}
    .register:hover { 
        background-color: #E27866;}
.apply {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: #A37169; 
}
.apply:hover { 
    background-color: #E27866;}
.receive {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: #A37169; 
}
.receive:hover { 
    background-color: #E27866;}
.bigblock {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    margin-left: 889px;
    top: 858px;
}
.bigblock1 {
    width: 167.71px;
    height: 167.71px;
    background: url(images/kopustas.png);
}
.bigblock1:hover {
    opacity: 0.8;}
.bigblock2 {
    display: flex;
    width: 167.71px;
    height: 167.71px;
    margin-left: 25px;
    background: url(images/salotos.png);
}
.bigblock2:hover {
    opacity: 0.8;}
.bigblock3 {
    width: 362.24px;
    height: 177.44px;
    margin-top: 20px;
    background: url(images/kojos.png);
}
.bigblock3:hover {
    opacity: 0.8;}
.row {
    display: flex;  
}
.sectiontext {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 891px;
    left: 305px;

    p {
        font-size: 36px;
        color: var(--balta)
    }
}
.sectiontext2 {
    font-size: 14px;
    top: 1048px;
    position: absolute;
    left: 305px;
    letter-spacing: 0px;
    color: var(--balta)
    
}
.blackblock {
        background: var(--balta);
        height: 595px;
        max-width: 1400px;
        width: 100%;
        .blackblockshade {
            background: url(images/Featurespanel2.png);   
            height: 595px;
            max-width: 1400px;
            width: 100%;
            .cheshirecounty {
                background: url(images/cheshire3.png);
                width: 388.58px;
                height: 169.47px;
            margin-top: 213px;
            margin-left: 210px;
            position: absolute;
            }
    }
}
.blackblocktext {
    min-width: 314px;
    position: absolute;
    height: 80px;
    font-size: 30px;
    color: var(--balta);
    left: 767px;
    top: 1429px;
    font-size: 30px;
    font-weight: 600;
    .pinkline {
        width: 200px;
        height: 2px;
        background-color: var(--rausva);
        margin-top: 27px;
    }
    .smalltext {
        font-weight: normal;
        font-size: 14px;
        margin-top: 27px;
    }

}
.title {
    color: var(--balta);
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    top: 1670px;
   .title1 {
       margin-left: 837px;
   }
    .title2 {
        margin-top: 60px;
        margin-left: 837px;
    }
}
.pinkblock {
    width: 50px;
    height: 50px;
    background: var(--rausva);
    position: absolute;
    top: 1670px;
    left: 767px;
    border-radius: 50%;
    
}
.title1img {
    background: url(images/title1img.png);
    width: 27px;
    height: 18px;
    left: 779px;
    top: 1686px;
    position: absolute;
}
.pinkblock2 {
    width: 50px;
    height: 50px;
    background: var(--rausva);
    position: absolute;
    top: 1785px;
    left: 767px;
    border-radius: 50%;
}
.title2img {
    background: url(images/title2img.png);
    width: 21px;
    height: 19px;
    left: 783px;
    top: 1800px;
    position: absolute;}

.whiteblock {
    top: 2007px;
    width: 100%;
    max-width: 1400px;
    height: 592px;
}
.whiteblockmaintext {
    top: 2033px;
    left: 479px;
    min-width: 500px;
    height: 44px;
    position: absolute;
    font-size: 36px;
    font-weight: 600; 
}
.pinklinesmall {
    position: absolute;
    top: 2099px;
    left: 669px;
    width: 64px;
    height: 2px;
    background: var(--rausva);
}
.whiteblocksmalltext {
    position: absolute;
    top: 2128px;
    left: 506px;
    min-width: 390px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    color: #86878B;
}
.whiteblockicons {
    position: absolute;
    display: flex;
    text-align: center;
    top: 2211px; 
    p {
        margin-bottom: 27px;
}
.whiteblockicon1 {
    width: 286px;
    height: 194px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 210px;
    .badgeicon{
        display:inline-block;
        margin-bottom: 35px;
        width: 50px;
        height: 50px;
        background: url(images/badgeicon.png);}
    span {
        font-size: 14px;
        font-weight: normal;
        color: #86878B;}
}
.whiteblockicon2 {
    width: 242px;
    height: 194px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 97px;
    .flowericon{
        display:inline-block;
        margin-bottom: 35px;
        width: 50px;
        height: 50px;
        background: url(images/badgeicon.png);}
    span {
        font-size: 14px;
        font-weight: normal;
        height: 58px;
        color: #86878B;
    }

}

.whiteblockicon3 {
    width: 238px;
    height: 194px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 97px;
 
    }
    span {
        font-size: 14px;
        font-weight: normal;
        color: #86878B;
        height: 38px;
    }
    .visaicon {
        display:inline-block;
        margin-bottom: 35px;
        width: 50px;
        height: 50px;
        background: url(images/visaicon.png);
    }
}
.blueblock {
    top: 2599px;
    left: 0px;
    width: 1400px;
    width: 100%;
    height: 883px;
    background-color: var(--melyna);
}
.blueblockmaintext {
    top: 2624px;
    left: 532px;
    min-width: 500px;
    height: 44px;
    position: absolute;
    font-size: 36px;
    font-weight: 600; 
    color: var(--balta);
}
.bluelinesmall {
    position: absolute;
    top: 2689px;
    left: 669px;
    width: 64px;
    height: 2px;
    background: #41D395;
}
.blueblocksmalltext {
    position: absolute;
    top: 2718px;
    left: 506px;
    min-width: 390px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    color: var(--balta);
}
.basicbox {
    top: 2854px;
    left: 146px;
    position: absolute;
    width: 343px;
    color: grey;
    text-align: center;
    font-size: 14px;

}
.basicboxblack1 {
    height: 59px;
    background-color: black;
    padding-top: 14px;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    color: white;}
.basicboxblack2 {
    height: 100px;
    font-size: 84px;
    background-color: black;
    color: white;
span {
    font-size: 24px;
}
}
.basicboxblack3 {
    height: 40px;
    background-color: black;
}
.basicgreenline {
    height: 6px;
    background-color: var(--zalia);
}
.basicbox1 {
    height: 40px;
    padding-top: 20px;
    background-color: white;
}
.basicbox2 {
    height: 40px;
    padding-top: 20px;
    background-color: white;
}
.basicbox3 {
    height: 40px;
    padding-top: 20px;
    background-color: white;;
}
.basicbox4 {
    height: 40px;
    padding-top: 20px;
    background-color: white;;
}
.basicbox5 {
    height: 40px;
    padding-top: 20px;
    background-color: white;
}
.basicbox6 {
    height: 40px;
    padding-top: 20px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;

}

.professionalbox {
    top: 2819px;
    left: 529px;
    position: absolute;
    width: 343px;
    color: grey;
    text-align: center;
    font-size: 14px;
    .professionalgreenline {
        height: 40px;
        padding-top: 10px;
        background-color: var(--zalia);}
}
.enterprisebox {
    top: 2854px;
    left: 912px;
    position: absolute;
    width: 343px;
    color: grey;
    text-align: center;
    font-size: 14px;
    
}
.swiperblock {
    top: 3410px;
    left: 0px;
    width: 1400px;
    width: 100%;
    position: absolute;
    height: 883px;
    background-color: var(--balta);
}
.swiperblockmaintext {
    top: 3477px;
    left: 353px;
    min-width: 800px;
    height: 44px;
    position: absolute;
    font-size: 36px;
    font-weight: 600; 
    color: var(--juoda);
}
.swiperlinesmall {
    position: absolute;
    top: 3552px;
    left: 669px;
    width: 64px;
    height: 2px;
    background: var(--melyna);
}
.swiper-container {
    top: 202px;
}